@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Fauna+One);
html {
  height: 100%;
}

h1 {color:#FFF;}

a:link{color:#fff;text-decoration: none}
a:visited{color:#fff;}
a:active{color:#fff;}
a:hover{color:#fff;}


.fa.fa-github:hover { color: #333; }
.fa.fa-twitter:hover { color: #00aced; }
.fa.fa-linkedin:hover { color: #007bb6; }
.fa.fa-envelope:hover { color: #efefef; }
.social {margin-left: 10px; padding-right:10px;}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/img/denise-nouvion-wallpapers-4-1280x800.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: 'Karla', sans-serif;
}

#container {
  height: 100%;
  text-align: center;
}
#container .content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  width: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#container .content h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 56px;
  height: 70px;
  line-height: 70px;
  font-weight: 300;
  font-family: 'Fauna One', sans-serif;
}

#container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.footer-section {
  width: 400px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  color:#efefef;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sizer div {
  display: none;
  height: 30px;
}
#sizer div.a {
  width: 320px;
}
#sizer div.b {
  width: 480px;
}
#sizer div.c {
  width: 640px;
}
#sizer div.d {
  width: 768px;
}
#sizer div.e {
  width: 1000px;
}
@media (max-width: 320px) {
  #sizer div.a {
    display: block !important;
  }
  #logo {
    left: 50%;
    margin-left: -50px;
  }
  #social {
    display: none;
  }
  #container:before {
    content: none;
  }
  #container {
    height: auto;
  }
  #container .content {
    margin-top: 80px;
    width: 320px;
  }
  #container .content h1 {
    font-size: 36px;
    line-height: 42px;
    height: auto;
  }
  .footer-section {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  #sizer div.b {
    display: block !important;
  }
  #logo {
    left: 50%;
    margin-left: -50px;
  }
  #social {
    display: none;
  }
  #container:before {
    content: none;
  }
  #container {
    height: auto;
  }
  #container .content {
    margin-top: 80px;
    width: 440px;
  }
  #container .content h1 {
    font-size: 40px;
    line-height: 45px;
    height: auto;
  }
  .footer-section {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 640px) {
  #sizer div.c {
    display: block !important;
  }
  #logo {
    left: 50%;
    margin-left: -50px;
  }
  #social {
    display: none;
  }
  #container:before {
    content: none;
  }
  #container {
    height: auto;
  }
  #container .content {
    margin-top: 80px;
    width: 580px;
  }
  #container .content h1 {
    font-size: 40px;
    line-height: 45px;
    height: auto;
  }
}
@media (min-width: 640px) and (max-width: 800px) {
  #sizer div.d {
    display: block !important;
  }
  #container .content {
    width: 600px;
  }
  #container .content h1 {
    height: auto;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  #sizer div.e {
    display: block;
  }
  #container .content {
    width: 800px;
  }
  #container .content h1 {
    height: auto;
  }
}